@include motion-ui-transitions;

/* header css */
.header {
   background-color: #bbcfc3;
}

.header > img {
    width: 1.6em;
    margin-left: 1em;
}

.logo {
    padding-top: 1em;
}

/* breadcrumbs css */
.breadcrumbs {
    padding-left: 0.5em;
    padding-top: 0.2em;
}

/* banner css */
/* css for hover effects including background and text color change */
#sellOnHover, #buyOnHover {
    margin-top: 2em;
    letter-spacing: 0.2em;
    color: #7a977f;
    font-weight: 600;
    font-size: 1.1em;
}

.placeholderSell {
    float: left;
}

#sellOnHover {
    background-image: url(images/sell.png);
    background-size: cover;
    padding: 0.9em 2.5em 1em 0.9em;
}

#sellOnHover:hover {
    background-image: url(images/sell_on_hover.png);
    color: #9bb09f;
}

.placeholderBuy {
    float: right;
}

#buyOnHover {
    background-image: url(images/buy.png);
    background-size: cover;
    padding: 0.9em 0.9em 1em 2.8em;
    /*padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.8em;
    padding-right: 0.3em;*/
}

#buyOnHover:hover {
    background-image: url(images/buy_on_hover.png);
    color: #9bb09f;
}

/*menubar css */
.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
    border-style: none;
    margin-top: 0.6em;
}

.hover-underline-menu .menu a {
  color: #7a977f;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 0.1em;
  padding: 1.2rem 1.5rem;
    font-family: serif;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #7a977f;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:active {
}

.tabs-title {
    padding-right: 0.3em;
}

/* first a.k.a introductory panel css */
.intro { 
    background-image: url(images/cityscapeSample.jpg);
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    color: white;
    margin-bottom: 3em;
}

.caption, .regularCaption {
    padding-top: 2em;
    text-transform: uppercase;
    font-family: serif;
}

.introContent {
    justify-content: center;
    margin-top: 3.5em;
}

/* customise the buttons and the hover color */
.greyButton {
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    margin-top: 1em;
    font-family: sans-serif;
}

.orangeButton {
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    border-style: solid;
    background-color: #7a977f;
    border-color: #7a977f;
    color: white;
    margin-top: 1em;
}

.contentOne {
    font-family: serif;
}

/*to make the buttons highlight over focus/hover */
.button.greyButton:hover, .button.greyButton:focus {
background-color: darkgray;
}

.orangeButton:hover {
    background-color: #8da591;
    border-color: #8da591; 
}

#marginBottom {
    margin-bottom: 7em;
}

.upperCaseCaption {
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

.regularSerif {
    margin-top: 4em;
    font-size: 1.7em;
    font-family: serif;
}

#serifContent {
    font-family: sans-serif;
    font-size: 1.2em;
    text-transform: none;
    
}

/* second panel a.k.a statistics panel css */
.stats, .strategy, .team {
    color: dimgray; 
}

.statsContent {
    margin-top: 3em;
}

.sectionCaption {
    text-transform: uppercase;
    padding-top: 4em;
    margin-top: 1.5em;
}

.upperCaseSubCaption, .cardSubCaption, .subCaptionAgent {
    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase; 
}

.upperCaseContent {
    font-family: serif;
    letter-spacing: 0.1em;
}

.stats, .statsContent, .cards, .strategy, .team {
    justify-content: center;
}

.lead {
    font-size: 2.3em;
    font-weight: 300;
    text-align: center;
}

#subcaptionFour {
    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.cardContent {
    font-size: 1em;
    text-align: center;
    padding: 0em 3em 0em 3em;
}

#approachCards {
    width: 37%;
    margin-bottom: 3em;
}

.statsContent > .cards {
    margin: 0em 5em 0em 5em;
}

.cardImages {
    width: 4em;
    height: 4em;
    /*how to center an image!! */
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* strategy class css */
.strategyContent > .cards > .lead {
    font-size: 1.5em;
}

.workWithUs, .meetTheTeam {
    background-color: #928c8b;
    justify-content: center;
}

.strategyContent {
    margin-top: 3em;
}

/* slider panel css */
.slider {
    margin-top: 3em;
    background-color: skyblue;
}

/*acquaint panel css */

.acquaint {
    background-image: url(images/home-genuine-photo.jpg);
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
}

.quote {
    font-family: serif;
    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#approachQuote {
    width: 75%;
    padding-bottom: 4em;
}

.sectionCaptionWhite {
    margin-top: 8em;
    color: white;
}

.acquaintButton {
    margin-bottom: 9em;
}

/*footer panel css */
.footerLogo {
 margin-bottom: 1.1em;
}

.socialMediaLogos {
    width: 2em;
}
.footer {
    padding-top: 7em;
    background-color: #928c8b;
    color: white;
}

.tableRow > td {
    background-color: #928c8b;
    font-size: 0.7em;
    letter-spacing: 0.2em;
}

.tableRow> td > h3 {
    font-size: 2em;
    font-weight: 300;
}

#footerTable {
   border-style: dotted;
    border-color: #928c8b;
}

.disclaimer { 
    color: white;
    text-align: center;
    padding-top: 1em;
}

.statement {
    font-size: 0.6em;
    letter-spacing: 0.1em;
    margin-top: 2em;
}

#disclaimer {
    color: whitesmoke;
}

#disclaimer:hover { 
    font-weight: 600;
}

.agentName {
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0.1em;
}

/* external css: flickity.css */

 { box-sizing: border-box; }

.carousel {
    background: #FFF;
    margin-bottom: 2em;
}

.carousel img {
  display: block;
    margin: 1.5em;
    width: 366px;
    border-radius: 0.5em;
}

@media screen and ( min-width: 700px ) {
  .carousel img {
      height: 350px;
  }
}

/*contactUs.html css */
.tag {
    font-size: 0.7em;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.numbers {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 200;
}

.phoneFaxBanner {
    background-color: #bbcfc3;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

/* address panel */

.address {
    color: white;
    background-image: url(images/Contact-Address-Banner-2000x329.png);
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

.contactAddress {
    font-size: 2em;
    font-weight: 300;
    justify-content: center;
    margin: auto;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
}

.contactAddress > .tag {
    font-size: 0.4em;
}

/*contact us form css */
.contactForm {
    background-color: rbg(255,139,98);
}

textarea {
    border: none;
    border-bottom-style: ;
    border-bottom-width: 0.2em;
    box-shadow: none;
}

.menubar {
    border-style: none;
    margin-top: 2em;
}
            /*contact Us form css */
            
.form-floating-label {
  position: relative;
  
}

.form-floating-label [type='text'],
.form-floating-label [type='password'],
.form-floating-label [type='date'],
.form-floating-label [type='datetime'],
.form-floating-label [type='datetime-local'],
.form-floating-label [type='month'],
.form-floating-label [type='week'],
.form-floating-label [type='email'],
.form-floating-label [type='number'],
.form-floating-label [type='search'],
.form-floating-label [type='tel'],
.form-floating-label [type='time'],
.form-floating-label [type='url'],
.form-floating-label [type='color'],
.form-floating-label textarea {
  margin-bottom: 0;
  color: #8a8a8a;
  font-size: 18px;
  font-weight: 300;
  padding: 30px 1rem 1rem 25px;
}

.form-floating-label label {
  color: #cacaca;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 25px;
  bottom: 0;
  transition: all 0.2s ease-in;
  font-weight: 300;
}

.form-floating-label textarea ~ label {
  top: 20px;
  font-size: 18px;
  font-weight: 300;
}

.form-floating-label input:focus ~ label,
.form-floating-label input:disabled[value] ~ label,
.form-floating-label.has-value input ~ label {
  top: 0;
  font-size: 14px;
  color: #7a977f;
  font-weight: 400;
}

.form-floating-label textarea:focus ~ label,
.form-floating-label.has-value textarea ~ label {
  top: 0;
  font-size: 14px;
  color: #7a977f;
  font-weight: 400;
}

.dataCollection {
    justify-content: center;
    margin: auto;
    width: 60em;
}

.dataCollection > table {
    border-style: dashed;
    border-color: transparent;
    color: gray;
    margin: 4em 0em 4em 0em;
}

#otherFormContent {
    font-size: 1em;
}

#formLabel {
    color: #7a977f;
    text-transform: uppercase;
}

.formField {
    width: 30em;
}

.formCaption {
    width: 20em;
    font-size: 1.4em;
    font-weight: 300;
}

#letsAcquaint > h3 {
    font-family: serif;
    text-transform: uppercase;
}

#sendMessage {
    font-size: 1em;
}

/*approach tab */
.contactBanner {
    padding-bottom: 6em;
    color: grey;
}

.approachCaption {
    padding-top: 4em;
    color: grey;
}

.bannerQuote {
    background-image: url(images/home-chicago-view1.jpg);
}

.quoteBanner {
    padding-bottom: 3em;
}

.appContent {
    padding-top: 2em;
    padding-bottom: 2em;
}

#agcQuote {
    background-image: url(images/home-chicago-view1.jpg);
}

#approachQuoteOne {
    text-transform: uppercase;
    padding-bottom: 4em;
}